@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

pre {
	counter-reset: line;
}

span.line-num::before {
		counter-increment: line;
		content: counter(line);
		position: absolute;
		display: block;
		@apply top-0 opacity-30 px-2 border-r-2 border-slate-400 left-0 -translate-x-[calc(_100%_+_4px)]
}

.code-highlight {
	span.keyword {
		@apply text-red-500 m-0 inline-block
	}

	span.symbol {
		@apply text-blue-500 m-0 inline-block
	}

	span.string-literal {
		@apply text-green-500 m-0 inline-block
	}

	span.bool-literal {
		@apply text-blue-700
	}
}